<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  
  <display-name>Application Data Exchange</display-name>
  <!--字符编码过滤器 -->
  <filter>
	<filter-name>Set Character Encoding</filter-name>
	<filter-class>com.novarise.webase.filter.CharacterEncodingFilter</filter-class>
	<init-param>
	  <param-name>encoding</param-name>
	  <param-value>GBK</param-value>
	</init-param>
  </filter>
  <filter>
	<filter-name>Permission Check</filter-name>
	<filter-class>com.novarise.webase.filter.PermissionFilter</filter-class>
	<init-param>
		<param-name>LOGIN_PAGE</param-name>
		<param-value>display?proname=error/errorloginpage.htm</param-value>
	</init-param>
  </filter> 
  <!-- 过滤器映射 -->
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>  
  <filter-mapping>
    <filter-name>Permission Check</filter-name>
    <url-pattern>/display</url-pattern>
  </filter-mapping>
  
  <!-- <listener>   
      <listener-class>     
          com.novarise.webase.servlet.SessionListener    
      </listener-class>    
 </listener>  --> 
  

  <!--初始化数据源配置-->
  <servlet>
    <servlet-name>InitDataSource</servlet-name>
    <servlet-class>com.novarise.webase.servlet.InitDataSource</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>dsconfig.xml</param-value>
    </init-param>
    <init-param>
      <param-name>default</param-name>
      <param-value>local</param-value>
    </init-param>
    <init-param>
      <param-name>sms</param-name>
      <param-value>0</param-value>
    </init-param>
     <init-param>
      <param-name>timer</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>sms_url</param-name>
      <param-value>http://116.213.72.20/SMSHttpService/send.aspx</param-value>
    </init-param>
    <init-param>
      <param-name>sms_user</param-name>
      <param-value>jxjd3</param-value>
    </init-param>
    <init-param>
      <param-name>sms_pwd</param-name>
      <param-value>jxjd3</param-value>
    </init-param>
    <init-param>
      <param-name>sms_type</param-name>
      <param-value>34</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Display</servlet-name>
    <servlet-class>com.novarise.webase.servlet.Display</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Work</servlet-name>
    <servlet-class>com.novarise.webase.servlet.Work</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BarCodeServlet</servlet-name>
    <servlet-class>com.novarise.webase.servlet.BarCodeServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>testXml</servlet-name>
    <servlet-class>com.novarise.webase.servlet.testXml</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.novarise.webase.servlet.DownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JQuery</servlet-name>
    <servlet-class>com.novarise.webase.servlet.JQuery</servlet-class>
  </servlet>
  
  <servlet>  
        <servlet-name>dwr-invoker</servlet-name>  
  
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>  
        <init-param>  
            <param-name>debug</param-name>  
            <param-value>true</param-value>  
        </init-param>  
   </servlet>
  <servlet>
    <servlet-name>MobQuery</servlet-name>
    <servlet-class>com.novarise.webase.servlet.MobQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WeiXinWork</servlet-name>
    <servlet-class>com.novarise.webase.servlet.WeiXinWork</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WeiXinMonitor</servlet-name>
    <servlet-class>com.novarise.webase.servlet.WeiXinMonitor</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>YYZFMonitor</servlet-name>
    <servlet-class>com.novarise.webase.servlet.YYZFMonitor</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>YYZFMonitorURL</servlet-name>
    <servlet-class>com.novarise.webase.servlet.YYZFMonitorURL</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>GHTPayMonitor</servlet-name>
    <servlet-class>com.novarise.webase.servlet.GHTPayMonitor</servlet-class>
  </servlet>
  

	
 
	

	
	
	

	
	




  <!--映射配置-->
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Work</servlet-name>
    <url-pattern>/work</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>BarCodeServlet</servlet-name>
    <url-pattern>/bar</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>testXml</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/downLoad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JQuery</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
   <servlet-mapping>  
        <servlet-name>dwr-invoker</servlet-name>  
        <url-pattern>/dwr/*</url-pattern>  
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MobQuery</servlet-name>
    <url-pattern>/servlet/MobQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeiXinWork</servlet-name>
    <url-pattern>/weixin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeiXinMonitor</servlet-name>
    <url-pattern>/weixinmonitor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YYZFMonitor</servlet-name>
    <url-pattern>/yyzfmonitor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YYZFMonitorURL</servlet-name>
    <url-pattern>/yyzfmonitorurl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GHTPayMonitor</servlet-name>
    <url-pattern>/ghtpaymonitor</url-pattern>
  </servlet-mapping>
  
  
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
    
  </welcome-file-list>
</web-app>
