.headbg {
	MARGIN: 0px auto; WIDTH: 1000px; BACKGROUND: url(/images/headbg.jpg) no-repeat; HEIGHT: 48px; CLEAR: both
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: "Tahoma", "Arial"; BACKGROUND: url(/images/bg201312.png) #fff repeat-x; HEIGHT: 575px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
leg end {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
FIELDSET {
	BORDER-BOTTOM-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP: 0px
}
ADDRESS {
	FONT-STYLE: normal
}
CAPTION {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
CODE {
	FONT-STYLE: normal
}
DFN {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
STRONG {
	FONT-STYLE: normal
}
TH {
	FONT-STYLE: normal
}
VAR {
	FONT-STYLE: normal
}
LI {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
ABBR {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; FONT-VARIANT: normal; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
ACRONYM {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; FONT-VARIANT: normal; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
SUP {
	VERTICAL-ALIGN: text-top
}
SUB {
	VERTICAL-ALIGN: text-bottom
}
INPUT {
	FONT-FAMILY: inherit
}
BUTTON {
	FONT-FAMILY: inherit
}
TEXTAREA {
	FONT-FAMILY: inherit
}
SELECT {
	FONT-FAMILY: inherit
}
LEGEND {
	COLOR: #000
}
DEL {
	TEXT-DECORATION: none
}
INS {
	TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt
}
A {
	COLOR: #222; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
.clear {
	CLEAR: both
}
.red {
	COLOR: #ff0000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red:link {
	COLOR: #ff0000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red:visited {
	COLOR: #ff0000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red:active {
	COLOR: #ff0000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red01:link {
	COLOR: #ff0000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red01:visited {
	COLOR: #ff0000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red01:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red01:active {
	COLOR: #ff0000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red02:link {
	COLOR: #c83b48; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red02:visited {
	COLOR: #c83b48; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red02:hover {
	COLOR: #c83b48; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red02:active {
	COLOR: #c83b48; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red03:link {
	COLOR: #cc0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.red03:visited {
	COLOR: #cc0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.red03:hover {
	COLOR: #cc0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.red03:active {
	COLOR: #cc0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue:link {
	COLOR: #0066cb; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.blue:visited {
	COLOR: #0066cb; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.blue:hover {
	COLOR: #0066cb; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.blue:active {
	COLOR: #0066cb; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.blue01:link {
	COLOR: #004a99; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue01:visited {
	COLOR: #004a99; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue01:hover {
	COLOR: #004a99; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue01:active {
	COLOR: #004a99; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue02:link {
	COLOR: #0066cc; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue02:visited {
	COLOR: #0066cc; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue02:hover {
	COLOR: #0066cc; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue02:active {
	COLOR: #0066cc; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.gray:link {
	COLOR: #222; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.gray:visited {
	COLOR: #222; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.gray:hover {
	COLOR: #222; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.gray:active {
	COLOR: #cc0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.mainbody {
	MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: auto
}
.mainbody01 {
	MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: auto
}
.toplink {
	WIDTH: 1000px; HEIGHT: 31px
}
.toplink_01 {
	LINE-HEIGHT: 31px; WIDTH: 510px; FLOAT: left; HEIGHT: 31px
}
.toplink_02 {
	TEXT-ALIGN: center; LINE-HEIGHT: 31px; WIDTH: 150px; FLOAT: left; HEIGHT: 31px
}
.toplink_03 {
	TEXT-ALIGN: right; LINE-HEIGHT: 31px; WIDTH: 340px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 31px; OVERFLOW: hidden; -o-text-overflow: ellipsis
}
.toplink_04 {
	TEXT-ALIGN: left; LINE-HEIGHT: 31px; WIDTH: 200px; FLOAT: left; HEIGHT: 31px
}
.logo {
	MARGIN-TOP: 4px; WIDTH: 320px; FLOAT: left; HEIGHT: 75px; _height: 72px; _margin-top: 2px
}
.header {
	WIDTH: 680px; FLOAT: left; HEIGHT: 75px; _height: 72px
}
.menu {
	TEXT-ALIGN: left; MARGIN-TOP: 5px; WIDTH: 340px; DISPLAY: block; MARGIN-BOTTOM: 0px; FLOAT: left; HEIGHT: 75px; COLOR: #666; MARGIN-LEFT: 0px !important; _height: 72px; _margin-top: 3px
}
.menu UL LI {
	LINE-HEIGHT: 23px; WIDTH: 340px; FLOAT: left; HEIGHT: 23px
}
.menu UL LI DIV {
	TEXT-ALIGN: left; FLOAT: left; MARGIN-LEFT: 10px
}
.tips {
	TEXT-ALIGN: left; FLOAT: left; COLOR: #cc0000; FONT-WEIGHT: bold; _margin-top: 3px
}
.tips IMG {
	MARGIN-RIGHT: 4px
}
.head_left {
	PADDING-LEFT: 40px; WIDTH: 510px; FLOAT: left; HEIGHT: auto
}
#passport {
	TEXT-ALIGN: left; LINE-HEIGHT: 35px; HEIGHT: 35px; COLOR: #fff; PADDING-TOP: 0px
}
#passport A {
	COLOR: #fff
}
.head_right {
	WIDTH: 160px; FLOAT: left; HEIGHT: auto
}
.head_right2 {
	POSITION: relative; LINE-HEIGHT: 41px; WIDTH: 270px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 41px; COLOR: #fff; TOP: -7px
}
.search_form {
	PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px; PADDING-LEFT: 0px; WIDTH: 159px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/box.png) no-repeat; FLOAT: right; HEIGHT: 25px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.search_form .box {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; WIDTH: 120px; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 24px; COLOR: #666; MARGIN-LEFT: 3px; BORDER-LEFT-STYLE: none
}
.search_form .button {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; MARGIN-TOP: 4px; WIDTH: 15px; BORDER-TOP-STYLE: none; BACKGROUND: url(/images/channels.gif) no-repeat; HEIGHT: 24px; BORDER-LEFT-STYLE: none; CURSOR: pointer; MARGIN-RIGHT: 2px
}
.banner {
	PADDING-BOTTOM: 15px; MARGIN: 0px auto; WIDTH: 980px; HEIGHT: auto; PADDING-TOP: 5px
}
.main980 {
	MARGIN: 0px auto; WIDTH: 980px; CLEAR: both
}
.left {
	WIDTH: 236px; MARGIN-BOTTOM: 1px; FLOAT: left; MARGIN-RIGHT: 18px
}
.center {
	WIDTH: 468px; MARGIN-BOTTOM: 1px; FLOAT: left; MARGIN-RIGHT: 18px
}
.right {
	WIDTH: 238px; MARGIN-BOTTOM: 1px; BACKGROUND: url(/images/pic4.gif); FLOAT: left; HEIGHT: 488px
}
DIV#MainPromotionBanner {
	WIDTH: 236px; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 170px
}
#MainPromotionBanner #SlidePlayer {
	POSITION: relative; MARGIN: 0px auto
}
#MainPromotionBanner .Slides {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 170px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#MainPromotionBanner .Slides LI {
	WIDTH: 236px; FLOAT: left; HEIGHT: 170px
}
#MainPromotionBanner .Slides IMG {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 236px; DISPLAY: block; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 170px; BORDER-LEFT-WIDTH: 0px
}
#MainPromotionBanner .SlideTriggers {
	Z-INDEX: 10; POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 18px; TOP: 135px; RIGHT: 18px; PADDING-TOP: 0px
}
#MainPromotionBanner .SlideTriggers LI {
	BORDER-BOTTOM: #333 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #333 1px solid; LINE-HEIGHT: 18px; MARGIN: 5px 0px 5px 5px; WIDTH: 18px; DISPLAY: inline; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: #333 center center; FLOAT: left; HEIGHT: 18px; COLOR: #fff; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #333 1px solid; CURSOR: pointer; BORDER-RIGHT: #333 1px solid
}
#MainPromotionBanner .SlideTriggers LI.Current {
	BORDER-BOTTOM: #cc0000 1px solid; BORDER-LEFT: #cc0000 1px solid; LINE-HEIGHT: 18px; MARGIN: 5px 0px 5px 5px; WIDTH: 18px; BACKGROUND: #cc0000 center center; HEIGHT: 18px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: #cc0000 1px solid; BORDER-RIGHT: #cc0000 1px solid
}
#nav {
	WIDTH: 468px; BACKGROUND: url(/images/navbg.jpg) repeat-x; FLOAT: left; HEIGHT: 29px; CLEAR: both; OVERFLOW: hidden
}
#nav UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 29px; PADDING-TOP: 0px
}
#nav UL LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 29px; MARGIN: 0px; WIDTH: 90px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; COLOR: #222; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav A:link {
	COLOR: #222; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav A:visited {
	COLOR: #222; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav A:active {
	COLOR: #222; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav UL .hot {
	LINE-HEIGHT: 29px; BACKGROUND: url(/images/nav.jpg); COLOR: #cc0000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav .hot A:link {
	LINE-HEIGHT: 29px; COLOR: #cc0000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav .hot A:visited {
	LINE-HEIGHT: 29px; COLOR: #cc0000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav .hot A:active {
	LINE-HEIGHT: 29px; COLOR: #cc0000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#navSub {
	WIDTH: 468px; BACKGROUND: url(/images/navbg1.jpg) repeat-x; FLOAT: left; HEIGHT: 234px; CLEAR: both; OVERFLOW: hidden
}
#navSub UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 468px; PADDING-RIGHT: 0px; HEIGHT: 25px; PADDING-TOP: 0px
}
#navSub UL LI {
	LINE-HEIGHT: 25px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px; FLOAT: left; COLOR: #000; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 10px
}
.displayNone {
	MARGIN: 0px; DISPLAY: none
}
.box01 {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; WIDTH: 234px; BACKGROUND: #fbfbfb; HEIGHT: 95px; CLEAR: both; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid
}
#nav1 {
	MARGIN-TOP: 10px; WIDTH: 468px; BACKGROUND: url(/images/navbg.jpg) repeat-x; FLOAT: left; HEIGHT: 29px; CLEAR: both; OVERFLOW: hidden
}
#nav1 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 29px; PADDING-TOP: 0px
}
#nav1 UL LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 29px; MARGIN: 0px; WIDTH: 78px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; COLOR: #222; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav1 A:link {
	COLOR: #222; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav1 A:visited {
	COLOR: #222; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav1 A:active {
	COLOR: #222; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav1 UL .hot {
	LINE-HEIGHT: 29px; BACKGROUND: url(/images/nav.jpg); COLOR: #cc0000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav1 .hot A:link {
	LINE-HEIGHT: 29px; COLOR: #cc0000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav1 .hot A:visited {
	LINE-HEIGHT: 29px; COLOR: #cc0000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#nav1 .hot A:active {
	LINE-HEIGHT: 29px; COLOR: #cc0000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#navSub1 {
	WIDTH: 468px; BACKGROUND: #f8f8f8; FLOAT: left; HEIGHT: 188px; CLEAR: both; OVERFLOW: hidden
}
#navSub1 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 468px; PADDING-RIGHT: 0px; HEIGHT: 25px; PADDING-TOP: 0px
}
#navSub1 UL LI {
	LINE-HEIGHT: 25px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px; FLOAT: left; COLOR: #000; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 10px
}
#nav2 {
	MARGIN-TOP: 28px; WIDTH: 698px; MARGIN-BOTTOM: -20px; FLOAT: left; HEIGHT: 26px; MARGIN-LEFT: 10px; CLEAR: both; OVERFLOW: hidden
}
#nav2 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 26px; PADDING-TOP: 0px
}
#nav2 UL LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; MARGIN: 0px; WIDTH: 90px; BACKGROUND: url(/images/nav2.png); FLOAT: left; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#nav2 A:link {
	COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#nav2 A:visited {
	COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#nav2 A:active {
	COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#nav2 UL .hot {
	LINE-HEIGHT: 26px; BACKGROUND: url(/images/nav1.png); COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#nav2 .hot A:link {
	LINE-HEIGHT: 26px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#nav2 .hot A:visited {
	LINE-HEIGHT: 26px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#nav2 .hot A:active {
	LINE-HEIGHT: 32px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#navSub2 {
	WIDTH: 698px; FLOAT: left; HEIGHT: 266px; CLEAR: both; OVERFLOW: hidden
}
#nav3 {
	MARGIN-TOP: 10px; PADDING-LEFT: 10px; WIDTH: 154px; FLOAT: left; HEIGHT: 266px; CLEAR: both; OVERFLOW: hidden
}
#nav3 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 35px; PADDING-TOP: 0px
}
#nav3 UL LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 35px; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 154px; FLOAT: left; HEIGHT: 35px; COLOR: #004a99; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav3 A:link {
	COLOR: #004a99; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav3 A:visited {
	COLOR: #004a99; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav3 A:active {
	COLOR: #004a99; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav3 UL .hot {
	LINE-HEIGHT: 35px; WIDTH: 154px; BACKGROUND: url(/images/icon37.png); HEIGHT: 35px; COLOR: #e5002d; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav3 .hot A:link {
	LINE-HEIGHT: 35px; COLOR: #e5002d; FONT-SIZE: 14px; FONT-WEIGHT: bold; _padding-top: 3px
}
#nav3 .hot A:visited {
	LINE-HEIGHT: 35px; COLOR: #e5002d; FONT-SIZE: 14px; FONT-WEIGHT: bold; _padding-top: 3px
}
#nav3 .hot A:active {
	LINE-HEIGHT: 35px; COLOR: #e5002d; FONT-SIZE: 14px; FONT-WEIGHT: bold; _padding-top: 3px
}
#navSub3 {
	WIDTH: 698px; FLOAT: left; HEIGHT: 266px; CLEAR: both; OVERFLOW: hidden
}
#navSub3 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 698px; PADDING-RIGHT: 0px; HEIGHT: 25px; PADDING-TOP: 0px
}
#navSub3 UL LI {
	LINE-HEIGHT: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#nav4 {
	MARGIN-TOP: 10px; PADDING-LEFT: 10px; WIDTH: 154px; FLOAT: left; HEIGHT: 266px; CLEAR: both; OVERFLOW: hidden
}
#nav4 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 35px; PADDING-TOP: 0px
}
#nav4 UL LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 35px; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 154px; FLOAT: left; HEIGHT: 35px; COLOR: #004a99; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav4 A:link {
	COLOR: #004a99; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav4 A:visited {
	COLOR: #004a99; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav4 A:active {
	COLOR: #004a99; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav4 UL .hot {
	LINE-HEIGHT: 35px; WIDTH: 154px; BACKGROUND: url(/images/icon37.png); HEIGHT: 35px; COLOR: #e5002d; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav4 .hot A:link {
	LINE-HEIGHT: 35px; COLOR: #e5002d; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav4 .hot A:visited {
	LINE-HEIGHT: 35px; COLOR: #e5002d; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#nav4 .hot A:active {
	LINE-HEIGHT: 35px; COLOR: #e5002d; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; _padding-top: 3px
}
#navSub4 {
	WIDTH: 698px; FLOAT: left; HEIGHT: 266px; CLEAR: both; OVERFLOW: hidden
}
#navSub4 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 698px; PADDING-RIGHT: 0px; HEIGHT: 25px; PADDING-TOP: 0px
}
#navSub4 UL LI {
	LINE-HEIGHT: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.rd_new {
	MARGIN-TOP: 5px; WIDTH: 236px; HEIGHT: 32px
}
#rdlist_nr {
	MARGIN: 0px; WIDTH: 236px; DISPLAY: inline; BACKGROUND: url(/images/pic3.jpg); FLOAT: left; HEIGHT: 183px; COLOR: #222222
}
#rdlist_nr UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 40px; PADDING-TOP: 5px
}
#rdlist_nr UL LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 40px; MARGIN: 0px; PADDING-LEFT: 4px; WIDTH: 224px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; HEIGHT: 40px; OVERFLOW: hidden; -o-text-overflow: ellipsis
}
#rdlist_nr UL LI IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; MARGIN-TOP: 6px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.right_box {
	WIDTH: 368px; BACKGROUND: url(/images/pic4.jpg) no-repeat; FLOAT: left; HEIGHT: 536px; CLEAR: both
}
#newlist_nr {
	MARGIN: 0px; WIDTH: 214px; DISPLAY: inline; FLOAT: left; HEIGHT: 75px
}
#newlist_nr UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 25px; PADDING-TOP: 0px
}
#newlist_nr UL LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px; WIDTH: 204px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; HEIGHT: 25px; OVERFLOW: hidden; -o-text-overflow: ellipsis
}
#newlist_nr UL LI IMG {
	MARGIN-RIGHT: 4px
}
.picMarquee-left {
	POSITION: relative; WIDTH: 980px; OVERFLOW: hidden
}
.picMarquee-left .hd {
	
}
.picMarquee-left .bd {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.picMarquee-left .bd UL {
	ZOOM: 1; OVERFLOW: hidden
}
.picMarquee-left .bd UL LI {
	TEXT-ALIGN: center; MARGIN: 0px 3px; FLOAT: left; OVERFLOW: hidden; _display: inline
}
.picMarquee-left .bd UL LI .pic {
	TEXT-ALIGN: center
}
.picMarquee-left .bd UL LI .pic IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 261px; PADDING-RIGHT: 2px; DISPLAY: block; HEIGHT: 62px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.picMarquee-left .bd UL LI .pic A:hover IMG {
	BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BORDER-RIGHT-COLOR: #999; BORDER-LEFT-COLOR: #999
}
.picMarquee-left .bd UL LI .title {
	LINE-HEIGHT: 24px
}
.service_hall {
	MARGIN-TOP: 5px; WIDTH: 980px; MARGIN-BOTTOM: 4px; BACKGROUND: url(/images/pic5.gif) no-repeat; HEIGHT: 24px; CLEAR: both
}
.service_hall_box {
	MARGIN: 0px auto; WIDTH: 977px; BACKGROUND: url(/images/service_bg.png) no-repeat; HEIGHT: 425px; CLEAR: both
}
.service_hall01 {
	MARGIN-TOP: 15px; WIDTH: 980px; MARGIN-BOTTOM: 4px; BACKGROUND: url(/images/pic9.gif) no-repeat; HEIGHT: 25px; CLEAR: both
}
.box_374 {
	WIDTH: 374px; MARGIN-BOTTOM: 15px; FLOAT: left; HEIGHT: auto; MARGIN-RIGHT: 11px
}
.box_head {
	WIDTH: 374px; FLOAT: left; HEIGHT: 32px
}
.box_head1 {
	WIDTH: 374px; FLOAT: left; HEIGHT: 32px
}
.box_nr {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; PADDING-BOTTOM: 10px; WIDTH: 372px; MARGIN-BOTTOM: 12px; HEIGHT: 165px; BORDER-RIGHT: #e1e1e1 1px solid
}
.box_bk {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; PADDING-BOTTOM: 10px; WIDTH: 372px; MARGIN-BOTTOM: 12px; HEIGHT: 143px; BORDER-RIGHT: #e1e1e1 1px solid
}
#box_nr01 {
	MARGIN: 0px; WIDTH: 178px; DISPLAY: inline; FLOAT: left; HEIGHT: auto
}
#box_nr01 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 23px; PADDING-TOP: 0px
}
#box_nr01 UL LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 178px; PADDING-RIGHT: 0px; COLOR: #737373; PADDING-TOP: 0px
}
.box_339 {
	WIDTH: 339px; MARGIN-BOTTOM: 15px; FLOAT: left; HEIGHT: auto; MARGIN-RIGHT: 12px
}
.box_head02 {
	WIDTH: 339px; FLOAT: left; HEIGHT: 32px
}
.box_head03 {
	WIDTH: 339px; FLOAT: left; HEIGHT: 32px
}
.box_nr02 {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; PADDING-BOTTOM: 10px; WIDTH: 337px; MARGIN-BOTTOM: 12px; HEIGHT: 164px; BORDER-RIGHT: #e1e1e1 1px solid
}
.box_bk1 {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; PADDING-BOTTOM: 10px; WIDTH: 337px; MARGIN-BOTTOM: 12px; HEIGHT: 143px; BORDER-RIGHT: #e1e1e1 1px solid
}
#box_nr02 {
	MARGIN: 0px; PADDING-LEFT: 12px; WIDTH: 313px; DISPLAY: inline; FLOAT: left; HEIGHT: auto
}
#box_nr02 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 23px; PADDING-TOP: 0px
}
#box_nr02 UL LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 313px; PADDING-RIGHT: 0px; COLOR: #737373; PADDING-TOP: 0px
}
.box_244 {
	WIDTH: 244px; MARGIN-BOTTOM: 15px; FLOAT: left; HEIGHT: auto
}
#footer_wrap {
	MARGIN: 0px auto; WIDTH: 1000px; BACKGROUND: url(/images/footerbg.jpg) repeat-x; HEIGHT: 123px; CLEAR: both
}
.footer {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 780px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: auto; PADDING-TOP: 0px
}
.footer I {
	DISPLAY: block; FLOAT: left
}
.footer P {
	TEXT-ALIGN: left; PADDING-BOTTOM: 6px; LINE-HEIGHT: 18pt; PADDING-LEFT: 20px; FLOAT: left; HEIGHT: 25px; COLOR: #222; PADDING-TOP: 10px
}
.footer P A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.footer P A:link {
	COLOR: #990000
}
.footer P A:visited {
	COLOR: #990000
}
.bannerad OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.bannerad UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.bannerad LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.bannerad {
	POSITION: relative; MARGIN: 0px auto 15px; WIDTH: 980px; HEIGHT: 78px; OVERFLOW: hidden
}
.bannerad OL {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
.bannerad LI {
	WIDTH: 980px; HEIGHT: 78px
}
.bannerad IMG {
	WIDTH: 980px; HEIGHT: 78px
}
.mouse_direction {
	POSITION: absolute; WIDTH: 25px; DISPLAY: none; HEIGHT: 78px; RIGHT: 0px
}
.mouse_top {
	MARGIN-TOP: 0px; BACKGROUND: url(/images/direction_icon.png) no-repeat; HEIGHT: 45px; CURSOR: pointer
}
.mouse_bottom {
	BACKGROUND: url(/images/direction_icon.png) no-repeat 0px -45px; HEIGHT: 45px; CURSOR: pointer
}
#font14 {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.font14 {
	LINE-HEIGHT: 28px
}
#datebig5 {
	COLOR: #777
}
.newstitle {
	WIDTH: 358px; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden; -o-text-overflow: ellipsis
}
.newssub {
	WIDTH: 425px; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden; -o-text-overflow: ellipsis
}
.font-red14 {
	COLOR: #cc0000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.zxzxlist {
	LINE-HEIGHT: 25px; WIDTH: 310px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; HEIGHT: 25px; OVERFLOW: hidden; -o-text-overflow: ellipsis
}
.indexlinks {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 25px; OVERFLOW-X: hidden; OVERFLOW-Y: scroll; PADDING-LEFT: 3px; WIDTH: 203px; HEIGHT: 165px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
#titmain {
	TEXT-ALIGN: left; LINE-HEIGHT: 28px; MARGIN-BOTTOM: 15px; COLOR: #cc0000; MARGIN-LEFT: 15px; FONT-SIZE: 14px; FONT-WEIGHT: bold; WORD-SPACING: 1px
}
#titmain IMG {
	MARGIN-LEFT: 30px
}
