BODY {
	bgcolor:#EEF2EB;MARGIN-TOP: 0px; SCROLLBAR-FACE-COLOR: #dadce9; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; MARGIN-LEFT: 0px; SCROLLBAR-SHADOW-COLOR: #dadce9; COLOR: #2e4b5d; SCROLLBAR-3DLIGHT-COLOR: #cbcee0; MARGIN-RIGHT: 0px; SCROLLBAR-ARROW-COLOR: #393e60; SCROLLBAR-TRACK-COLOR: #ecedf3; SCROLLBAR-DARKSHADOW-COLOR: #8c92bc; BACKGROUND-COLOR: #f2f2f2; SCROLLBAR: NO
}
A {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
DIV {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
FONT {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
LI {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
OPTION {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
SPAN {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
TABLE {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
TR {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
UL {
	FONT-SIZE: 12px; FONT-FAMILY: SIMSUN,TAHOMA, ARIAL, SANS-SERIF
}
SELECT {
	BORDER-RIGHT: #a5aec6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a5aec6 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #a5aec6 1px solid; COLOR: #000000; BORDER-BOTTOM: #a5aec6 1px solid; BACKGROUND-COLOR: #ffffff
}
OPTION {
	BORDER-RIGHT: #a5aec6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a5aec6 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #a5aec6 1px solid; COLOR: #000000; BORDER-BOTTOM: #a5aec6 1px solid; BACKGROUND-COLOR: #ffffff
}
INPUT.TEXT {
	BORDER-RIGHT: #a5aec6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a5aec6 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #a5aec6 1px solid; COLOR: #000000; BORDER-BOTTOM: #a5aec6 1px solid; BACKGROUND-COLOR: #ffffff
}
TEXTAREA {
	BORDER-RIGHT: #a5aec6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a5aec6 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #a5aec6 1px solid; COLOR: #000000; BORDER-BOTTOM: #a5aec6 1px solid; BACKGROUND-COLOR: #ffffff
}
.TEXTDISABLED {
	BORDER-RIGHT: #a5aec6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a5aec6 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #a5aec6 1px solid; COLOR: #8d8d8d; BORDER-BOTTOM: #a5aec6 1px solid; BACKGROUND-COLOR: #f1f4f9
}
.NTEXT {
	BORDER-RIGHT: #a5aec6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a5aec6 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #a5aec6 1px solid; COLOR: #000000; BORDER-BOTTOM: #a5aec6 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
.NTEXTDISABLED {
	BORDER-RIGHT: #a5aec6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a5aec6 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #a5aec6 1px solid; COLOR: #8d8d8d; BORDER-BOTTOM: #a5aec6 1px solid; BACKGROUND-COLOR: #f1f4f9; TEXT-ALIGN: right
}
TABLE {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; BORDER-BOTTOM: 1px
}
TABLE.TOOLBAR {
	BACKGROUND-IMAGE: url(../IMAGES/BGTLS.GIF); VERTICAL-ALIGN: middle; HEIGHT: 23px; TEXT-DECORATION: none
}
TABLE.BOTTOMBAR {
	BACKGROUND-IMAGE: url(../IMAGES/BUTTOM_BG.GIF); VERTICAL-ALIGN: middle; COLOR: #4e5c86; PADDING-TOP: 2px; HEIGHT: 33px; TEXT-DECORATION: none
}
TABLE.BOX {
	BORDER-RIGHT: #a5aec6 1px solid; BORDER-TOP: #a5aec6 1px solid; BORDER-LEFT: #a5aec6 1px solid; BORDER-BOTTOM: #a5aec6 1px solid
}
.BOXTITLE {
	BORDER-TOP: #c1cdd8 1px solid; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../IMAGES/TOP_LINE.GIF); COLOR: #10659e; BORDER-BOTTOM: #c1cdd8 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #dee4f0
}
.BOXBODY {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
TABLE.SBOX {
	BORDER-RIGHT: #a5aec6 1px solid; BORDER-TOP: #a5aec6 1px solid; BORDER-LEFT: #a5aec6 1px solid; BORDER-BOTTOM: #a5aec6 1px solid
}
.SBOXTITLE {
	PADDING-RIGHT: 5px; BORDER-TOP: #c1cdd8 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND-IMAGE: url(../IMAGES/TOP_LINE.GIF); PADDING-BOTTOM: 0px; COLOR: #10659e; PADDING-TOP: 0px; BORDER-BOTTOM: #c1cdd8 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #dee4f0
}
.SBOXBODY {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
.LEFTNAV {
	BORDER-RIGHT: #a1bad8 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px;  PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; BORDER-LEFT: #ffffff 1px solid; PADDING-TOP: 5px
}
.CONTENT {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; BORDER-LEFT: #ffffff 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ffffff
}
.TOPLINE {
	PADDING-RIGHT: 1px; BORDER-TOP: #f2f2f2 1px solid; PADDING-LEFT: 1px; BORDER-BOTTOM: #336699 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #dee4f0
}
.BOTLINE {
	PADDING-RIGHT: 10px; BORDER-TOP: #c9d0de 1px solid; PADDING-LEFT: 1px; HEIGHT: 40px; BACKGROUND-COLOR: #eceff7
}
.BOTLINE1 {
	PADDING-RIGHT: 10px; BORDER-TOP: #c9d0de 1px solid; PADDING-LEFT: 1px; HEIGHT: 25px; BACKGROUND-COLOR: #eceff7
}
.H {
	BACKGROUND-COLOR: #c1cdd8
}
.HL {
	BACKGROUND-COLOR: #e9f2f8
}
.SL {
	BACKGROUND-COLOR: #f3f3f3
}
.SLL {
	BACKGROUND-COLOR: #2020ff
}
.PL {
	BACKGROUND-COLOR: #ccdd99
}
.LEFTBARBG {
	BACKGROUND-COLOR: #dee4f0
}
.set {
	CURSOR: hand; COLOR: #e07001; TEXT-DECORATION: underline
}
.lose {
	COLOR: #2e4b5d; TEXT-DECORATION: none
}
A.other:hover {
	COLOR: #2e4b5d; TEXT-DECORATION: none
}
A.other:link {
	COLOR: #2e4b5d; TEXT-DECORATION: none
}
A.other:visited {
	COLOR: #2e4b5d; TEXT-DECORATION: none
}
A.other:hover {
	COLOR: #e07001; TEXT-DECORATION: underline
}
A.help:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.help:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.help:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.help:hover {
	COLOR: #00ffff; TEXT-DECORATION: underline
}
.help_intro {
	FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-TOP: 2px; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
A {
	
}
A:link {
	FONT-SIZE: 12px; COLOR: #2e4b5d; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #2e4b5d; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #e07001; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 12px; COLOR: #2e4b5d; TEXT-DECORATION: none
}
.A {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BACKGROUND-IMAGE: url(../IMAGES/BGTLS.GIF); BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 20px; TEXT-DECORATION: none
}
.B {
	BORDER-RIGHT: #8d8d8d 1px solid; BORDER-TOP: #8d8d8d 1px solid; BACKGROUND-IMAGE: url(../IMAGES/BGTLS.GIF); BORDER-LEFT: #8d8d8d 1px solid; COLOR: #8d8d8d; BORDER-BOTTOM: #8d8d8d 1px solid; HEIGHT: 20px; TEXT-DECORATION: none
}
.O TD {
	VERTICAL-ALIGN: middle; WHITE-SPACE: nowrap; HEIGHT: 20px
}
.O A {
	COLOR: #000000; TEXT-DECORATION: none! important
}
.P {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; CURSOR: hand; PADDING-TOP: 1px
}
.T {
	BORDER-RIGHT: #a1bad8 1px solid; BACKGROUND-IMAGE: url(../images/crm/bgTlsleft.gif); BORDER-LEFT: #a1bad8 1px solid; CURSOR: hand; HEIGHT: 20px
}
.T_BLOCK {
	BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; BORDER-BOTTOM: #a1bad8 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #e9eef8; border-: 1px #A1BAD8 solid
}
.BB_COLOR {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; CURSOR: hand; COLOR: #c600ff; PADDING-TOP: 1px
}
.BB {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; CURSOR: hand; COLOR: #c600ff; PADDING-TOP: 1px
}
.BB_T {
	BORDER-RIGHT: #dea2fe 1px solid; BACKGROUND-IMAGE: url(../images/crm/bgO_T.gif); BORDER-LEFT: #dea2fe 1px solid; CURSOR: hand; COLOR: #c600ff; HEIGHT: 9px
}
.Q {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #a5aec6 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: #a5aec6 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #c1cdd8
}
.Q A {
	COLOR: #ffffff
}
.D {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; COLOR: #8d8d8d; PADDING-TOP: 1px
}
.H {
	DISPLAY: none
}
.U {
	BORDER-RIGHT: #4791c5 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #4791c5 1px solid; PADDING-LEFT: 1px; Z-INDEX: 100; FILTER: PROGID:DXIMAGETRANSFORM.MICROSOFT.SHADOW(COLOR="#777777", DIRECTION=135, STRENGTH=3)	ALPHA(OPACITY=90); LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 1px; OVERFLOW: visible; BORDER-LEFT: #4791c5 1px solid; WIDTH: 100px; CURSOR: hand; PADDING-TOP: 1px; BORDER-BOTTOM: #4791c5 1px solid; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #e9f2f8
}
.V {
	PADDING-RIGHT: 0px; BORDER-TOP: #4791c5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 1px
}
.W {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; COLOR: #000000; PADDING-TOP: 1px
}
.X {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; BACKGROUND-COLOR: #c1cdd8
}
.Y {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; COLOR: #ccc; PADDING-TOP: 1px
}
.Z {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; COLOR: #8d8d8d; PADDING-TOP: 1px; BACKGROUND-COLOR: #ffffff
}
.EE {
	BORDER-COLLAPSE: collapse;  EMPTY-CELLS: SHOW
}
.EE TD {
	BORDER-RIGHT: #a1bad8 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-BOTTOM: #a1bad8 1px solid; HEIGHT: 20px
}
.EET {
	BACKGROUND-IMAGE: url(../images/crm/Display_bg.gif); HEIGHT: 22px
}
.EEB {
	BORDER-TOP: #c1cdd8 1px solid; COLOR: #10659e; BORDER-BOTTOM: #c1cdd8 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #dee4f0
}
.SE {
	BORDER-RIGHT: #c1cdd8 1px solid; BORDER-TOP: #c1cdd8 1px solid; BORDER-LEFT: #c1cdd8 1px solid; BORDER-BOTTOM: #c1cdd8 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff; EMPTY-CELLS: SHOW
}
.SE TD {
	BORDER-RIGHT: #c1cdd8 1px dotted; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #c1cdd8 1px solid; HEIGHT: 18px
}
.MTAB {
	BORDER-TOP: #4791c5 1px solid; BORDER-COLLAPSE: collapse; EMPTY-CELLS: SHOW
}
.MTAB TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-BOTTOM: #c1cdd8 1px solid; HEIGHT: 20px
}
.MTAB .MLIST {
	PADDING-LEFT: 20px; HEIGHT: 24px
}
.MTAB .MLIST_MORE {
	PADDING-LEFT: 40px; HEIGHT: 24px
}
.MTAB .MTITLEA {
	BACKGROUND-IMAGE: url(../IMAGES/MNU_BAR.GIF); HEIGHT: 19px
}
.MTAB .MTITLEB {
	BACKGROUND-IMAGE: url(../IMAGES/MNU_BAR2.GIF); HEIGHT: 19px
}
.TITLELISTTD {
	BORDER-TOP: #c1cdd8 1px solid; FONT-WEIGHT: bold; COLOR: #10659e; BORDER-BOTTOM: #c1cdd8 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #dee4f0
}
TD.SORT {
	CURSOR: pointer
}
TD.ASC {
	BORDER-TOP: #10659e 1px solid; CURSOR: pointer; COLOR: #10659e; BORDER-BOTTOM: #10659e 2px solid; BACKGROUND-COLOR: #c1cdd8
}
TD.DESC {
	BORDER-TOP: #10659e 2px solid; CURSOR: pointer; COLOR: #10659e; BORDER-BOTTOM: #10659e 1px solid; BACKGROUND-COLOR: #c1cdd8
}
.LISTTD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-BOTTOM: #c1cdd8 1px solid; HEIGHT: 23px
}
.BUTTON {
	BORDER-RIGHT: #9fa3bc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9fa3bc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/crm/BUTTON_BG00.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #9fa3bc 1px solid; COLOR: #2e4b5d; PADDING-TOP: 2px; BORDER-BOTTOM: #9fa3bc 1px solid; HEIGHT: 20px
}
.BUTTON_REG {
	BORDER-RIGHT: #104a7b 1px solid; BORDER-TOP: #afc4d5 1px solid; FONT-SIZE: 12pt; BACKGROUND: #d6e7ef; BORDER-LEFT: #afc4d5 1px solid; WIDTH: 200px; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #104a7b 1px solid; HEIGHT: 30px; TEXT-DECORATION: none
}
.BUTTON_ALL {
	BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; FILTER: PROGID:DXIMAGETRANSFORM.MICROSOFT.GRADIENT(GRADIENTTYPE=0, STARTCOLORSTR=#FFFFFF, ENDCOLORSTR=#CECFDE); PADDING-BOTTOM: 0px; BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid
}
.BUTTON_DIC {
	BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; FILTER: PROGID:DXIMAGETRANSFORM.MICROSOFT.GRADIENT(GRADIENTTYPE=0, STARTCOLORSTR=#FFFFFF, ENDCOLORSTR=#CECFDE); BORDER-LEFT: #7b9ebd 1px solid; WIDTH: 25px; CURSOR: hand; BORDER-BOTTOM: #7b9ebd 1px solid
}
.Title_new {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.WHITEBOLD {
	FONT-WEIGHT: normal; COLOR: #ffffff
}
.WHITETEXT {
	COLOR: #ffffff
}
.BLUEBOLD {
	FONT-WEIGHT: bold; COLOR: #000066
}
.BLACKTEXT {
	COLOR: #000000
}
.BLUETXT {
	COLOR: #0000ff
}
.REDTXT {
	COLOR: #e00505
}
.SMALLTXT {
	FONT-SIZE: xx-small
}
.YLLWTXT {
	COLOR: #ffcc66
}
.GRAYTXT {
	COLOR: #aaa; TEXT-DECORATION: line-through
}
.BIGTXT {
	FONT-WEIGHT: bolder; FONT-SIZE: 36px; COLOR: #aaa; FONT-FAMILY: "TIMES NEW ROMAN", TIMES, SERIF
}
.CALENDAR1 {
	COLOR: #eaf4f0
}
.CALENDAR2 {
	COLOR: #eaf4f0
}
.CARDY {
	OVERFLOW-X: hidden; OVERFLOW: scroll; WIDTH: 100%; HEIGHT: 270px
}
.CARDXY {
	OVERFLOW: scroll; WIDTH: 860px; HEIGHT: 255px
}
.SCARDY {
	OVERFLOW-X: hidden; OVERFLOW: scroll; WIDTH: 695px; HEIGHT: 255px
}
.SCARDXY {
	OVERFLOW: scroll; WIDTH: 690px; HEIGHT: 235px
}
.HCARDY {
	OVERFLOW-X: hidden; OVERFLOW: scroll; WIDTH: 860px; HEIGHT: 262px
}
.HCARDXY {
	OVERFLOW: scroll; WIDTH: 860px; HEIGHT: 242px
}
.HSCARDY {
	OVERFLOW-X: hidden; OVERFLOW: scroll; WIDTH: 695px; HEIGHT: 255px
}
.HSCARDXY {
	OVERFLOW: scroll; WIDTH: 690px; HEIGHT: 242px
}
.EDITXY {
	OVERFLOW: scroll; WIDTH: 100%; HEIGHT: 510px
}
.EDITY {
	OVERFLOW-X: hidden; OVERFLOW: scroll; WIDTH: 100%; HEIGHT: 510px
}
.EDITX {
	OVERFLOW-Y: hidden; OVERFLOW: scroll; WIDTH: 100%; HEIGHT: 510px
}
.EDITNXY {
	WIDTH: 100%; HEIGHT: 510px
}
.EDIT_SMALL {
	WIDTH: 100%; HEIGHT: 385px
}
.EDITTABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; HEIGHT: 100%; cellPadding: 0; cellSpacing: 0; bgColor: #ffffff
}
.EDITTABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; HEIGHT: 100%; cellPadding: 0; cellSpacing: 0; bgColor: #ffffff
}
.SEARCHCARD {
	OVERFLOW: scroll; WIDTH: 493px; HEIGHT: 220px
}
.UNSELECT {
	BORDER-RIGHT: #c9d1de 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c9d1de 1px solid; PADDING-LEFT: 4px; FILTER: PROGID:DXIMAGETRANSFORM.MICROSOFT.GRADIENT(GRADIENTTYPE=0, STARTCOLORSTR=#F3F7FE, ENDCOLORSTR=#ffffff); PADDING-BOTTOM: 2px; BORDER-LEFT: #c9d1de 1px solid; CURSOR: hand; COLOR: #8d95ac; PADDING-TOP: 2px; HEIGHT: 20px
}
.SELECTED {
	BORDER-RIGHT: #98a4cc 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/crm/lable_bg.gif); PADDING-BOTTOM: 2px; BORDER-LEFT: #98a4cc 1px solid; CURSOR: hand; COLOR: #2e4b5d; PADDING-TOP: 2px; BORDER-BOTTOM: #f2f2f2 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #525f93; TEXT-ALIGN: center
}
.UNSELECT_title {
	BORDER-RIGHT: #c9d1de 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c9d1de 1px solid; PADDING-LEFT: 4px; FILTER: PROGID:DXIMAGETRANSFORM.MICROSOFT.GRADIENT(GRADIENTTYPE=0, STARTCOLORSTR=#F3F7FE, ENDCOLORSTR=#ffffff); PADDING-BOTTOM: 2px; BORDER-LEFT: #c9d1de 1px solid; CURSOR: hand; COLOR: #8d95ac; PADDING-TOP: 2px; HEIGHT: 20px
}
.SELECTED_title {
	BORDER-RIGHT: #98a4cc 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/crm/lable_bg.gif); PADDING-BOTTOM: 2px; BORDER-LEFT: #98a4cc 1px solid; CURSOR: hand; COLOR: #2e4b5d; PADDING-TOP: 2px; BORDER-BOTTOM: #f2f2f2 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #525f93; TEXT-ALIGN: center
}
.Title_new {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-TOP: 4px
}
.MAIN_TAB {
	BORDER-RIGHT: gray 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: #d4d0c8
}
.ARROWHEAD {
	FONT-SIZE: 12px; CURSOR: hand; COLOR: #ffffff; FONT-FAMILY: WEBDINGS; POSITION: relative; BACKGROUND-COLOR: #336699
}
.NAVTABLE {
	BORDER-TOP: #ece9d8 3px solid; HEIGHT: 20px
}
.CARDTABLE {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ffffff 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #f2f2f2
}
.SELECTLIST {
	WIDTH: 180px; HEIGHT: 300px
}
.TD_BODY {
	BORDER-RIGHT: #cad2e5 1px solid; BORDER-LEFT: #cad2e5 1px solid; BORDER-BOTTOM: #cad2e5 1px solid; 
}
.TD_List {
	BACKGROUND-IMAGE: url(../images/crm/newcustomer_dotted.gif); WIDTH: 7px; HEIGHT: 25px
}
.TD_CUSTOMER {
	BORDER-RIGHT: #d3e0f0 1px solid; FILTER: PROGID:DXIMAGETRANSFORM.MICROSOFT.GRADIENT(GRADIENTTYPE=0, STARTCOLORSTR=#FFFFFF, ENDCOLORSTR=#F7FBFE); BORDER-LEFT: #d3e0f0 1px solid
}
.TD_TITLE {
	FONT-WEIGHT: bold
}
.Login_Text {
	FILTER: dropshadow(color=#ffffff,offx=1,offy=1,Direction=135); COLOR: #949fc0; TEXT-ALIGN: left
}
.TD_POSITION {
	BORDER-RIGHT: #a1bad8 1px solid; BORDER-TOP: #d4e0ee 1px solid; FONT-WEIGHT: bold; FILTER: PROGID:DXIMAGETRANSFORM.MICROSOFT.GRADIENT(GRADIENTTYPE=0, STARTCOLORSTR=#FFFFFF, ENDCOLORSTR=#F7FBFE); BORDER-BOTTOM: #d4e0ee 1px solid; HEIGHT: 20px; TEXT-ALIGN: center
}
.TD_Calendar {
	FONT-WEIGHT: bold; FILTER: PROGID:DXIMAGETRANSFORM.MICROSOFT.GRADIENT(GRADIENTTYPE=1, STARTCOLORSTR=#FFFFFF, ENDCOLORSTR=#E3EDF5); TEXT-ALIGN: center
}
TABLE.Form {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #c3cadc; cellpadding: 1; cellspacing: 1
}
TABLE.Form TD.Form {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#F0F4FF,endColorStr=#ffffff); HEIGHT: 23px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TABLE.Lable {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #c3cadc; cellpadding: 0; cellspacing: 1
}
TABLE.Lable TD {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFFFFF,endColorStr=#F0F4FF); HEIGHT: 23px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.Index_Title {
	BORDER-RIGHT: #d7dded 1px solid; BACKGROUND-IMAGE: url(../images/crm/index_bg.gif); BORDER-LEFT: #d7dded 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: #ffffff
}
.Index_other {
	BORDER-RIGHT: #d7dded 1px solid; BACKGROUND-IMAGE: url(../images/crm/index_bg.gif); BORDER-LEFT: #d7dded 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: #ffffff
}
.Index_Content {
	BORDER-RIGHT: #d7dded 1px solid; BORDER-LEFT: #d7dded 1px solid; BORDER-BOTTOM: #d7dded 1px solid; BACKGROUND-COLOR: #ffffff
}
.Notice_Title {
	BACKGROUND-IMAGE: url(../images/crm/index_p_bg.gif); HEIGHT: 21px; BACKGROUND-COLOR: #ffffff
}
.Notice_Title_td {
	FILTER: dropshadow(color=#ffffff,offx=1,offy=1,Direction=135); COLOR: #2f4c5e; TEXT-ALIGN: left; valign: bottom
}
.Notice_Content {
	BORDER-RIGHT: #c9d4f0 1px solid; BORDER-LEFT: #c9d4f0 1px solid; BORDER-BOTTOM: #c9d4f0 1px solid; BACKGROUND-COLOR: #ffffff
}
.TD_Index {
	FONT-WEIGHT: bold; FILTER: dropshadow(color=#ffffff,offx=1,offy=1,Direction=135); COLOR: #195981; TEXT-ALIGN: left
}
TABLE.Iner {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #c4c9e6; cellpadding: 0; cellspacing: 1
}
TABLE.Iner TD.Title {
	BACKGROUND-IMAGE: url(../images/crm/index_p_default.jpg); HEIGHT: 19px; TEXT-ALIGN: center
}
TABLE.Iner TD {
	TEXT-INDENT: 4pt; HEIGHT: 18px; BACKGROUND-COLOR: white
}
.Default_T {
	BACKGROUND-POSITION: left 50%; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../images/crm/default_bg_tb.gif); WIDTH: 85px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 19px; TEXT-ALIGN: center
}
.Default_T_Other {
	BACKGROUND-POSITION: left 50%; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../images/crm/default_bg_t.gif); WIDTH: 70px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 19px; TEXT-ALIGN: center; letter-sapcing: 1px
}
.Default_Content {
	COLOR: #3f749e; TEXT-ALIGN: left
}
.Default_Content_Other {
	COLOR: #3f749e; TEXT-INDENT: 18pt; LINE-HEIGHT: 14pt; TEXT-ALIGN: left
}
.Default_Dot {
	BACKGROUND-IMAGE: url(../images/crm/default_dot.gif); heitght: 17px
}
.Default_Button {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(../images/crm/default_button.gif); BORDER-LEFT: 0px; WIDTH: 102px; COLOR: #4086ba; BORDER-BOTTOM: 0px; HEIGHT: 34px; TEXT-ALIGN: center
}
.Default_icon {
	FONT-WEIGHT: bold; COLOR: #4187bb; LINE-HEIGHT: 13pt; TEXT-ALIGN: center
}
.Reportforms {
	BORDER-RIGHT: #a1bad8 1px solid; BORDER-TOP: #a1bad8 1px solid; BACKGROUND: #eceff7; BORDER-LEFT: #a1bad8 1px solid; HEIGHT: 22px
}
