body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #EEF2EB;
}
A:link { COLOR:#000000;TEXT-DECORATION: underline }
A:hover { COLOR: #ff6600}
A:visited { COLOR: #000000}
.title{ COLOR:#ff0000}
A.whitelink { COLOR:#ffffff;TEXT-DECORATION: none }
A.whitelink hover { COLOR: #ff6600}
.blacktext { COLOR:#000000}
.whitetext { COLOR:#ffffff}
TD,P,DIV { FONT-FAMILY:Arial, Helvetica, sans-serif; FONT-SIZE: 9pt}
.big { FONT-FAMILY:Arial, Helvetica, sans-serif; FONT-SIZE: 15pt}
.big9B {
	FONT-FAMILY:"Arial", "Helvetica", "sans-serif";
	FONT-SIZE: 9pt;
	font-weight: bold;
}
.big12B {
	FONT-FAMILY:"Arial", "Helvetica", "sans-serif";
	FONT-SIZE: 12pt;
	font-weight: bold;
}
.input_GoPage {width:20px;text-align:center;font-size: 12px;font-family:ו,;border-top: 1 solid #FFFFFF;border-right: 1 solid #FFFFFF;border-bottom: 1 solid #000000;border-left: 1 solid #FFFFFF;padding: 1px ;height:18px}
.TEXTDISABLED {
	BORDER-RIGHT: #a5aec6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a5aec6 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #a5aec6 1px solid; COLOR: #8d8d8d; BORDER-BOTTOM: #a5aec6 1px solid; BACKGROUND-COLOR: #f1f4f9
}
.InputFocus {
	height:30px;font-size:22px;background-color:#ccffcc;color:black;text-transform:uppercase 
}
.InputunFocus {
	height:30px;font-size:22px;background-color:#f1f4f9;color:black;text-transform:uppercase 
}
.w01_11px_white { font-family: "Arial", "Helvetica", "sans-serif"; font-size: 11px; color: #FFFFFF; text-decoration: none }